server {
    listen 80;
    root /usr/share/nginx/html;
    index index.html;
    resolver ${NGINX_LOCAL_RESOLVERS};

    location /api/ {
        set $upstream http://processing-service:8082;
        proxy_pass $upstream/api/;
        proxy_set_header Host $host;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
